.img {
    width: 100px;
    padding: 15px;
    border-radius: 50%;
}
.div {
    display: flex;
    max-width: 1000px;
    margin-top: 2%;
}
.div button {

}
.span {
    width: 80%;
    display: grid;
    margin: 10px;
    padding: 10px;
    grid-template-columns: 3fr 1fr;
}
.name {
    color:green;
    font-weight: bold;
}
.status {
    color: black;
}

.location {
    opacity: 0.5;
    font-weight: bold;
    color:gray
}
