.selected {
    font-weight: bold;
    border: 2px solid gray;
    color: white;
    border-radius: 50px;
}
.Paginator {
    text-align: center;
}
.Paginator span {
    padding: 3px;
    color: green;
}
.Paginator button {

}